.pebble {
  position: absolute;
  border: 1px solid white;
  border-radius: 60px;
  width: 15px;
  height: 15px;
}
.bowl {
  position: relative;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  padding: 0px;
}
.big-bowl {
  position: relative;
  border: 1px solid black;
  border-radius: 70px;
  width: 180px;
  height: 200px;
}
.board {
  position: absolute;
  top: 19vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #563232;
  height: 280px;
  border-radius: 100px;
}